name: Build and Push Docker Images

on:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: amd64
          - arch: arm64
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log into GitHub Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set the docker name
        run: |
          echo "DOCKER_NAME=${REPO,,}" >> $GITHUB_ENV
        env:
          REPO: ${{ github.repository }}

      - name: Build and push Docker image for ${{ matrix.arch }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/${{ matrix.arch }}
          tags: ghcr.io/${{ env.DOCKER_NAME }}:${{ matrix.arch }}